.rowdp {
  align-items: center;
}

.coldp1 {
  padding-top: 30px;
}

.imgdp {
  width: 450px;
  height: 500px;
}

/* .coldp3 {
  padding-bottom: 5px;
} */

/* .btndp3 {
  al
} */

.rowdp2 {
    text-align: end;
    padding-bottom: 50px;
}